@import "../../assets/style.less";

// duplicated from Dashboard.less to achieve consistency in design; edited for organization dashboard use

#orgs-container {
    margin: 6vh auto 4vh auto;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 80vw;
    height: auto;
    background: #colors[senary];
    border-radius: 5px;
    border: 2px solid #colors[secondary];

    input[type='button'] {
        width: 13vw;
        height: auto;
        font-size: 1vw;
        font-weight: 500;
        border-radius: 30px;
        margin: 3% auto auto auto;
        background: #colors[quaternary];
        border: none;
        color: #colors[text-primary];
        transition: 0.25s;
        cursor: pointer;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.377);
        padding: 5px;

        &:hover {
            width: 14vw;
            background: #colors[quinary];
        }
    }
}

#dashboard-org-card {
    text-align: center;
    width: 24vw;
    height: auto;
    margin: auto 6vh 6vh auto;
    background: #colors[tertiary];
    color: #colors[text-primary];
    border: none;
    border-color: #colors[secondary];
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.377);
    
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;

    .edit-org-btn {
        height: 4vh;
        width: 5%;
        font-size: 1.2em;
        font-weight: 450;
        box-shadow: none;
        background-color: transparent;
        color: black;
        border: none;
        position: relative;
        left: 40%;
        margin-top: 15px;

        &:hover {
          cursor: pointer;
        }
    }

    #card-top-content-container {
        //position: relative;
        //display: flex;
        //flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 24px 24px;
        margin-top: -25px;

        #card-title {
            text-align: center;
            font-size: 1.4vw;
            margin: 10px;
            line-height: 1.6vw;
        }
    }

    #card-bottom-content-container {
        display: flex;
        flex-direction: column;
        min-width: 100%;

        #divider {
            background-color: #colors[tertiary];
            height: 4px;
        }

        #manage-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            height: 49.5%;
            background-color: #colors[quaternary];
            cursor: pointer;
            padding: 12px 0px 0px 0px;
            color: #colors[text-primary];

            &:hover {
                background: #colors[quinary];
            }
        }
    }

    #card-bottom-content-container>:last-child {
        border-radius: 0px 0px 10px 10px;
    }
}

.org-card-front, .org-card-back {
    backface-visibility: hidden;
}

.org-card-back {
    transform: rotateY(180deg);
    position: absolute;
    bottom: 20px;
    //left: 100px;
    right: 100px;
}

.flipped {
    transform: rotateY(180deg);
}

